body{
    background-color: blue;
    font-family: sans-serif;
    text-align: justify;
    font-size: 14px;
    line-height: 23px;
}

header{
    background-color: brown;
}

h1{
    text-align: center;
}

h2{
    font-weight: normal;
    text-decoration-line: underline;
}

li{
    list-style-type:circle;
}